# Credenciais da API do Groq Cloud (para geração de contos e extrator técnico)
GROQ_API_KEY=insira_sua_chave_groq_aqui

# Configurações de Segurança e Autenticação da Aplicação
SECRET_KEY=insira_uma_chave_secreta_jwt_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Token Fixo de Comunicação Privada (BFF Django <-> FastAPI)
API_TOKEN=insira_um_token_de_comunicacao_interno_aqui

# URL de Conexão com o Banco de Dados (Padrão SQLite local)
DATABASE_URL=sqlite:///./pos_sistema.db
